/* gets some jank from this loading a second late */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}



html,
body {
    /* Variables */
    --main-bg-color: brown;

    --base_purp: 275deg 69%;
    --purp: hsl(var(--base_purp) 42%);
    --purp_light: hsl(var(--base_purp) 90%);
    --purp_lighter: hsl(var(--base_purp) 95%);
    --purp_dark: hsl(var(--base_purp) 25%);

    --base_yellow: 57deg 89%;
    --yellow: hsl(var(--base_yellow) 60%);
    --yellow_light: hsl(var(--base_yellow) 90%);
    --yellow_dark: hsl(var(--base_yellow) 40%);

    --black: hsl(var(--base_purp) 20%);
    --white: hsl(var(--base_purp) 100%);
    --gray: #3f3f3f;
    --errorColor: hsl(354, 89%, 62%);

    --spacing: 1em;
    --fontSize: 16pt;
    --footerSize: calc(3 * var(--fontSize));
    --siteWidth: 1100px;

    /* Fonts */
    font-family: 'Roboto', sans-serif;
    font-size: var(--fontSize);

    margin: 0;
}

@media only screen and (max-width: 700px) {

    html,
    body {
        --fontSize: 12pt;
    }
}

@media only screen and (max-width: 500px) {

    html,
    body {
        --fontSize: 8pt;
    }
}

body {
    background: repeating-linear-gradient(-45deg,
            var(--white),
            var(--white) 10%,
            var(--purp_lighter) 10%,
            var(--purp_lighter) 20%);

    background-size: 200% 200%;
    animation: barberpole 50s linear infinite;
}

/* From: https: //css-tricks.com/books/fundamental-css-tactics/striped-barberpole-animation/ */
@keyframes barberpole {
    100% {
        background-position: 100% 100%;
    }
}

a:link {
    color: var(--purp_light);
}

a:visited {
    color: var(--yellow);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

/* Hx Tags */
h1 {
    color: var(--purp_dark);
    font-weight: 900;
    font-size: 3em;
    border-bottom: 1px solid var(--black);
}

h2 {
    color: var(--purp);
    font-weight: 700;
    font-size: 2.5em;
}

h3,
h4,
h5,
h6 {
    color: var(--black);
}

h3 {
    font-size: 3em;
}

h4 {
    font-size: 2.5em;
}

h5 {
    font-size: 2em;
}

h6 {
    font-size: 1em;
}

p {
    margin-top: 0;
}

/* Button Styles */

button {
    padding: 0.5em 1em;
    border-radius: 5px;
    font-size: 1em;

    background-color: var(--gray);
    color: var(--white);
    border: 1px solid var(--black);
}

.button_light {
    background-color: var(--purp_light);
    color: var(--black);
    border: 1px solid var(--purp);
}

.button_dark {
    background-color: var(--purp_dark);
    color: var(--white);
    border: 1px solid var(--purp);
}

.button_large {
    font-size: 2rem;
}



/* Forms/Inputs */

form {
    display: grid;
    gap: var(--spacing);
}

form>header>h2 {
    border-bottom: 1px solid var(--black);
}

.inputGroup {
    display: grid;
    gap: calc(.5 * var(--spacing));
    grid-template-rows: 1fr;
}

form>footer {
    display: flex;
    justify-content: flex-end;
    gap: var(--spacing);
}

label,
input {
    display: block;
    /* width: 100%; */
}

label+input {
    margin-bottom: calc(2 * var(--spacing));
}

.card {
    border-radius: 5px;
    border: 3px solid var(--gray);
    box-shadow: 5px 5px 0px 0px var(--gray);
    padding: var(--spacing);
    background: var(--white);
}


.checkbox_group {
    padding: var(--spacing);
    display: grid;
    grid-template-rows: 1fr;
    gap: var(--spacing);
}


.checkbox {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: calc(.5 * var(--spacing))
}

.checkbox>label+input {
    margin-bottom: 0;
}


/* Quiz View - Shown when taking a quiz */
.quizView {
    display: grid;
    gap: calc(5 * var(--spacing));
}

.quizView>header {
    position: relative;
    display: flex;
    gap: var(--spacing);
    flex-flow: row wrap;
    padding-top: 2em;
}

.quizView>header>progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 5px 5px 0 0;
    border: 0;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
    height: 1em;
}

progress[value]::-webkit-progress-value,
progress[value]::-moz-progress-bar {
    background-color: var(--purp);
}


.home_menu {
    display: flex;
    gap: var(--spacing);
    justify-content: flex-start;
    padding-left: 0;
}

.pastResults {
    display: grid;
    /* Need to make this change amount based on width */
    grid-template-columns: auto auto;
    gap: calc(2 * var(--spacing)) var(--spacing);
}

.siteLayout {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;

    gap: var(--spacing);
    margin: auto;
}

.siteLayout>main {
    width: 100%;
}

.siteLayout>footer {
    background-color: var(--black);
    color: var(--white);
    padding: var(--spacing) 0;
}

.siteLayout>footer>div {
    display: flex;
    justify-content: space-between;
}

.pastResultsSection {
    display: grid;
    gap: var(--spacing);
}

.pastResultsSection>footer {
    display: flex;
    justify-content: space-between;
}

.guttered {
    max-width: var(--siteWidth);
    margin: 0 auto;
    padding: 0 var(--spacing);
}

.errorText {
    color: var(--errorColor);
}